<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DANFE</title>
</head>
<style>
</style>
<body>
    <div>
        {{cnpj}}
    </div>
</body>